services:
  mysqldb:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: hospital_db
    ports:
      - "3307:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    networks:
      - hospital-net

  doctor-service:
    build:
      context: .
      dockerfile: doctor-service/Dockerfile
    restart: always
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/doctor_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      mysqldb:
        condition: service_healthy
    networks:
      - hospital-net

  patient-service:
    build:
      context: .
      dockerfile: patient-service/Dockerfile
    restart: always
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/patient_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      mysqldb:
        condition: service_healthy
    networks:
      - hospital-net

  appointment-service:
    build:
      context: .
      dockerfile: appointment-service/Dockerfile
    restart: always
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/appointment_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      mysqldb:
        condition: service_healthy
    networks:
      - hospital-net

  billing-service:
    build:
      context: .
      dockerfile: billing-service/Dockerfile
    restart: always
    ports:
      - "8084:8084"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/billing_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      mysqldb:
        condition: service_healthy
    networks:
      - hospital-net

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/auth_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password

    depends_on:
      mysqldb:
        condition: service_healthy
      doctor-service:
        condition: service_started
      patient-service:
        condition: service_started
      appointment-service:
        condition: service_started
      billing-service:
        condition: service_started

    networks:
      - hospital-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - api-gateway
    networks:
      - hospital-net

networks:
  hospital-net:
    driver: bridge
