server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3307/auth_db}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  


  cloud:
    gateway:
      mvc:
        routes:
          - id: doctor-service
            uri: http://localhost:8081
            predicates:
              - Path=/api/doctors/**
            filters:
              - StripPrefix=1
              
          - id: patient-service
            uri: http://localhost:8082
            predicates:
              - Path=/api/patients/**
            filters:
              - StripPrefix=1

          - id: appointment-service
            uri: http://localhost:8083
            predicates:
              - Path=/api/appointments/**
            filters:
              - StripPrefix=1

          - id: billing-service
            uri: http://localhost:8084
            predicates:
              - Path=/api/bills/**
            filters:
              - StripPrefix=1


